$primary-color: rgb(4, 4, 21);
$secondary-color: rgb(133, 133, 219);

$white: white;
$complementary-color: rgb(155, 155, 155);

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}