@import 'config';

.nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    padding: 1rem;
    font-size: xx-large;

    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    .nav-links{
        display: inline;
        text-decoration: none;
    }

    h1{
        border: white solid 1px;
        padding: 10px;
    }

}

.nav-item{
    display: inline;
    margin: 3px;

    &:hover{
        background-color: $secondary-color;
    }
}
